body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #89cff0, #b19cd9);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #4CAF50, #3e8e41);
  color: white;
  transition: all .2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
